.Main
  .Main-header
    .Main-header__Name
      %a.AppName{href:"#"} TO DO
    .Main-header__Box
      .UserName
        = link_to edit_user_path(current_user) do
          = current_user.name
      //%a.UserName{href:"#"} kyo
      .Edit
        = link_to "#" do
          =icon('fas','cog')
  .Main-contents
    .Main-contents__Tags-bar
      .Tags
        %a.tag{href:"#"} メール
        %a.tag{href:"#"} 買い物
        %a.tag{href:"#"} 課題
    .Main-contents__Tasks-lists
      .Tasks
        .list
          .task
            .task-title 先生にメール
            .task-date 2020年9月3日(木)
          .icons
            .icon
              = link_to "#" do
                = icon('fas','check')
            .icon
              = link_to "#" do
                = icon('fas','pen')
            .icon
              = link_to "#" do
                = icon('fas','trash-alt')
        .list
          .task
            .task-title 母にメール
            .task-date 2020年9月4日(金)
          .icons
            .icon
              = link_to "#" do
                = icon('fas','check')
            .icon
              = link_to "#" do
                = icon('fas','pen')
            .icon
              = link_to "#" do
                = icon('fas','trash-alt')
        .list
          .task
            .task-title 先生にメール
            .task-date 2020年9月3日(木)
          .icons
            .icon
              = link_to "#" do
                = icon('fas','check')
            .icon
              = link_to "#" do
                = icon('fas','pen')
            .icon
              = link_to "#" do
                = icon('fas','trash-alt')
        .list
          .task
            .task-title 先生にメール
            .task-date 2020年9月3日(木)
          .icons
            .icon
              = link_to "#" do
                = icon('fas','check')
            .icon
              = link_to "#" do
                = icon('fas','pen')
            .icon
              = link_to "#" do
                = icon('fas','trash-alt')
        .list
          .task
            .task-title 先生にメール
            .task-date 2020年9月3日(木)
          .icons
            .icon
              = link_to "#" do
                = icon('fas','check')
            .icon
              = link_to "#" do
                = icon('fas','pen')
            .icon
              = link_to "#" do
                = icon('fas','trash-alt')
        .list
          .task
            .task-title 先生にメール
            .task-date 2020年9月3日(木)
          .icons
            .icon
              = link_to "#" do
                = icon('fas','check')
            .icon
              = link_to "#" do
                = icon('fas','pen')
            .icon
              = link_to "#" do
                = icon('fas','trash-alt')
        .list
          .task
            .task-title 先生にメール
            .task-date 2020年9月3日(木)
          .icons
            .icon
              = link_to "#" do
                = icon('fas','check')
            .icon
              = link_to "#" do
                = icon('fas','pen')
            .icon
              = link_to "#" do
                = icon('fas','trash-alt')
      .New-task
        = link_to "#",class:"Newtask" do
          = icon('far','edit')

    %div.Task-form{style:"display:none"}
      %form
        %input.text{type:"text"}
        %input.submit-btn{type:"submit"}