.tasks-form
  .task-form
    .form-title タスク編集
    = form_with model:[@tag,@task], local: true do |f|
      .task-label
        = f.label :name,"タスク名"
      .task-input
        = f.text_field :name, placeholder: "タスクを入力してください"
      .detail-label
        = f.label :detail,"詳細"
      .detail-date
        = f.text_area :detail
      .date-label
        = f.label :deadline,"期限"
      .date
        = f.datetime_field :deadline
      .task-button
        -# = f.time_field :deadline
        = f.submit "Save"