.tasks-form
  .task-form
    .form-title タスク追加
    = form_with model:[@tag,@task], local: true do |f|
      .task-label
        = f.label :name,"タスク名"
      .task-form__input
        = f.text_field :name, placeholder: "タスクを入力してください"
      .date-label
        = f.label :deadline,"期限"
      .task-form__date
        = f.datetime_field :deadline
      .task-form__button
        -# = f.time_field :deadline
        = f.submit "追加"