.Main
  .Main-header
    .Main-header__Name
      =link_to root_path,class:"AppName" do 
        %div TO DO
    .Main-header__Box
      .UserName
        = link_to edit_user_path(current_user) do
          = current_user.name
      -# .Edit
      -#   = link_to "#" do
      -#     =icon('fas','cog')
  .Main-contents
    -# = link_to "#",class:"finish" do
    -#   %div 完了
    %ul.Tags
      - @tags.each do |tags|
        %li.tag
          = link_to  tag_tasks_path(tags),method: :get,class:"tag-new" do
            = tags.name
          = link_to tag_path(tags.id) ,method: :delete,class:"delete" do
            =icon('fas','times')
    = link_to new_tag_path ,class:"tag-icon" do
      =icon('fas','plus')